$breakpoint-desktop: 991px;

.desktop-hidden {
  @media (min-width: $breakpoint-desktop) {
    display: none !important;
  }
}

.mobile-hidden {
  @media (max-width: $breakpoint-desktop) {
    display: none !important;
  }
}
.custom-opacity {
  opacity: 0.7;
}
// ====================== TEXTS ======================

.text-bold-13 {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
}

.text-light-15 {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

.text-light-14 {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.text-light-12 {
  font-size: 12px;
  font-weight: 300;
}

.text-light-11 {
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  margin: 0;
}
.text-bold-10 {
  font-size: 10px;
  font-weight: 600;
}

.text-bold {
  font-weight: 600;
}
// ====================== TITLES ======================
.title-light-33 {
  font-size: 33px;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  @media (min-width: $breakpoint-desktop) {
    font-size: 40px;
    line-height: 48px;
  }
}
.title-light-24 {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  @media (min-width: $breakpoint-desktop) {
    font-size: 30px;
    line-height: 38px;
  }
}
.title-light-40 {
  font-size: 40px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}
// ====================== BACKGROUND GRADIENTS ======================

.background-gradient-225 {
  background: linear-gradient(225deg, #6556f4 0%, #76d7b2 100%);
}
.background-gradient-90 {
  background: linear-gradient(90deg, #559f8d 0%, #4a46bb 100%);
}

// ====================== COLORS ======================

.color-green {
  color: var(--green-color);
}
.color-violet {
  color: var(--violet-color);
}
// ====================== INPUTS ======================
.input-transparent {
  text-align: center;
  background: var(--background-url) fixed;
  background-size: cover;
  border: 1px solid #979797;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 271px;
  box-sizing: border-box;
  &::placeholder {
    color: #000;
    font-family: 'Mulish', sans-serif;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
  }
}
// ====================== BUTTONS ======================
.btn {
  cursor: pointer;
  height: 40px;
  width: 165px;
  border: transparent;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: block;
  background: linear-gradient(45deg, var(--green-color), var(--violet-color));
  opacity: 0.8;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
  .btn-inner {
    // background: var(--background-url) fixed;
    // background-size: cover;
    position: relative;
    border-radius: 8px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
  }
  .btn-text {
    margin: auto;
  }
  &.btn-small {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    width: 80px;
    height: 24px;
    background: #76d7b2;
    .btn-text {
      color: #76d7b2;
      font-size: 12px;
    }
  }
}

body {
  background: #192533;
  font-family: 'Mulish', sans-serif;
  margin: 0;
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.logo-container {
  width: 160px;
  height: 55px;
  margin: 51px auto 0;

  @media (min-width: $breakpoint-desktop) {
    margin-left: 150px;
  }
}
.page-wrapper {
  background: var(--background-url) fixed;
  background-size: cover;
  background-position: center !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// ====================== BACKGROUNDS ======================

.background-landing-page {
  background: var(--background-landing-url) fixed !important;
  background-size: cover !important;
  background-position: center !important;
}
.background-transparent {
  background: var(--background-url) fixed !important;
  background-size: cover !important;
  background-position: center !important;
}

.main {
  &__container {
    max-width: 332px;
    margin: auto;
    text-align: center;
    @media (min-width: $breakpoint-desktop) {
      max-width: 520px;
    }
  }
  &__title {
    text-align: center;
    margin: 0;
  }
  &__text {
    margin: 25px auto;
    line-height: 22px;
    display: block;
    width: 240px;
    @media (min-width: $breakpoint-desktop) {
      width: 500px;
      line-height: 40px;
    }
  }
  &__btn {
    margin: auto;
  }
}

footer {
  width: 100%;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 37px;
  opacity: 0.5;
}

// PAGE 25
.main-25 {
  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 83px auto 0;
  }
  &__title {
    max-width: 350px;
    text-align: center;
    margin-bottom: 50px;
  }
  &__back-btn {
    margin: 96px auto 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    &__container {
      max-width: 1440px;
      width: 100%;
    }
    &__title {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
// PAGE 2

.main-2 {
  &__container {
    margin: 83px auto 0;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__title {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 50px;
  }
  &__back-btn {
    margin: 20px auto 0px;
  }

  @media (min-width: $breakpoint-desktop) {
    &__container {
      flex-direction: row;
      max-width: 1440px;
      width: 100%;
    }
    &__left-part-desktop,
    &__container .answers-list {
      flex: 1;
      margin: auto;
      padding: 0 20px;
    }
  }
}

.numbers-list {
  margin: 20px auto 90px;
  display: flex;
  justify-content: center;
  .number {
    height: 18px;
    width: 18px;
    opacity: 0.3;
    color: #76d7b2;
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    position: relative;
    border: 1px solid #76d7b2;
    border-radius: 100%;
    display: flex;
    margin: 0 5px;
    line-height: 6px;
    &.active {
      opacity: 1;
    }
  }
  .number-inner {
    margin: auto;
  }
  @media (min-width: $breakpoint-desktop) {
    margin: 0px auto 29px;
  }
}

.answers-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  .answer {
    &__container {
      position: relative;
      text-align: center;
      position: relative;
      z-index: 1;
      width: 338px;
      margin: 0 auto 25px;
      border-radius: 8px;
      overflow: hidden;
      padding: 1px;
      cursor: pointer;
      transition: opacity 0.3s;
      @media (min-width: $breakpoint-desktop) {
        width: 555px;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
      &.selected {
        opacity: 1;
        .answer {
          &__description {
            &:before {
              opacity: 1;
              visibility: visible;
            }
          }
          &__check-icon {
            opacity: 1;
          }
        }
      }
      &.mobile-open {
        .answer {
          &__description-container {
            opacity: 1;
            max-height: 500px;
            transition: opacity 0.3s ease 0.2s, max-height 0.3s;
          }
        }
      }
    }
    &__title {
      padding: 12px 50px;
    }
    &__check-icon {
      position: absolute;
      left: 23px;
      top: 14px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &__description-container {
      overflow: hidden;
      opacity: 0;
      max-height: 0;
      transition: opacity 0.3s, max-height 0.3s ease 0.2s;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      @media (min-width: $breakpoint-desktop) {
        opacity: 1;
        max-height: unset;
      }
    }
    &__description {
      padding: 16px;

      z-index: 1;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          45deg,
          rgba(238, 238, 238, 0) 0%,
          rgba(101, 86, 244, 0.43) 100%
        );
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s opacity, 0.3s visibility;
      }
    }
    &__background {
      opacity: 0.7;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &__next-btn {
      margin: auto auto 42px;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    &.desktop-row {
      margin-top: 79px;
      display: flex;
      flex-direction: row;
      flex: unset;
      flex-wrap: wrap;
      justify-content: center;
      .answer {
        &__row {
          width: 264px;
          margin: 15px;
          display: flex;
          flex-direction: column;
        }
        &__description-container {
          flex: 1;
          display: flex;
        }
        &__description {
          margin: auto;
        }
      }
    }
  }
}

// Page 3

.main-3 {
  &__container {
    margin: auto;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &__clapping-icon {
    margin: 0 auto 14px;
    width: 40px;
    height: auto;
  }
  &__text {
    max-width: 230px;
    margin: 34px auto 89px;
  }
  &__email-input {
    margin: 0 auto 103px;
  }
  &__btn {
    margin: 0 auto 42px;
  }
  @media (min-width: $breakpoint-desktop) {
    &__container {
      padding: 0px 0px 100px;
    }
    &__title {
      font-size: 34px;
      line-height: 55px;
    }
    &__title-logo-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
    &__clapping-icon {
      margin: auto 0 auto 20px;
      width: 54px;
    }
    &__email-input {
      font-size: 18px;
      border: unset;
      border-radius: unset;
      border-bottom: 1px solid #979797;
      width: 362px;
    }

    &__text {
      font-size: 18px;
      line-height: 28px;
      max-width: 310px;
      margin: 34px auto 50px;
    }
  }
}

// Page 4

.main-4 {
  &__container {
    padding-top: 73px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    max-width: 257px;
    margin: 34px auto 89px;
  }
  &__email-input {
    margin: 0 auto 103px;
  }
  &__btn {
    margin: auto auto 42px;
  }
  &__secondary-text {
    width: 290px;
    margin: 0 auto 69px;
  }
  @media (min-width: $breakpoint-desktop) {
    &__container {
      margin: 0 auto 173px;
    }
    &__title {
      margin-bottom: 41px;
      font-size: 34px;
    }
    &__text {
      margin: 0 auto 19px;
    }
    &__secondary-text {
      width: 514px;
      margin: 0 auto 41px;
    }
    &__flex-reverse-container {
      display: flex;
      flex-direction: column-reverse;
    }
    &__btn {
      margin: 0 auto 42px;
    }
  }
}
.progress {
  &__container {
    margin: 0 auto 54px;
    width: 270px;
  }
  &__star-icon {
    margin-bottom: 5px;
  }
  &__bar {
    width: 100%;
    height: 12px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  &__bar-grey-part {
    background: #d8d8d8;
    position: absolute;
    right: 0;
    top: 0;
    width: 47px;
    height: 100%;
    display: block;
  }
  &__status-container {
    padding: 0 0 47px;
    margin: 8px;
    margin-left: auto;
    width: 86px;
    position: relative;
    &:before {
      content: '';
      height: 39px;
      width: 1px;
      background: #fff;
      position: absolute;
      left: 50%;
      bottom: 0;
      opacity: 0.7;
    }
  }
  &__status-title {
    margin-bottom: 7px;
  }
  &__average-container {
    padding: 25px 0 0;
    margin: 8px;
    margin-left: 30%;
    width: 86px;
    position: relative;
    &:before {
      content: '';
      height: 17px;
      width: 1px;
      background: #fff;
      position: absolute;
      left: 50%;
      top: 0;
      opacity: 0.7;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    &__container {
      width: 750px;
    }
  }
}
$anim-duration: 0.3s;
$anim-delay: 0s;

$anim1-duration: 0.5s;
$anim1-delay: 0.5s;

$anim2-delay: 1s;

#Page1 {
  animation-delay: 0;
}
.page-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $anim-duration ease $anim-delay,
    visibility $anim-duration ease $anim-delay;
  .animate1 {
    visibility: hidden;
    opacity: 0;
    transition: opacity $anim1-duration ease 0s,
      visibility $anim1-duration ease 0;
  }
  .animate2 {
    visibility: hidden;
    opacity: 0;
    transition: opacity $anim1-duration ease 0s,
      visibility $anim1-duration ease 0;
  }
  &.visible-page {
    opacity: 1;
    visibility: visible;
    // transition: opacity 3s ease 2s, visibility 3s ease 2s;
    pointer-events: auto;

    .animate1 {
      opacity: 1;
      visibility: visible;
      transition: opacity $anim1-duration ease $anim1-delay,
        visibility $anim1-duration ease $anim1-delay;
    }
    .animate2 {
      opacity: 1;
      visibility: visible;
      transition: opacity $anim1-duration ease $anim2-delay,
        visibility $anim1-duration ease $anim2-delay;
    }
  }
}
