@media (min-width: 991px) {
  .desktop-hidden {
    display: none !important; } }

@media (max-width: 991px) {
  .mobile-hidden {
    display: none !important; } }

.custom-opacity {
  opacity: 0.7; }

.text-bold-13 {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  margin: 0; }

.text-light-15 {
  font-weight: 300;
  font-size: 15px;
  margin: 0; }

.text-light-14 {
  font-weight: 300;
  font-size: 14px;
  margin: 0; }

.text-light-12 {
  font-size: 12px;
  font-weight: 300; }

.text-light-11 {
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  margin: 0; }

.text-bold-10 {
  font-size: 10px;
  font-weight: 600; }

.text-bold {
  font-weight: 600; }

.title-light-33 {
  font-size: 33px;
  font-weight: 300;
  line-height: 40px;
  margin: 0; }
  @media (min-width: 991px) {
    .title-light-33 {
      font-size: 40px;
      line-height: 48px; } }

.title-light-24 {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 0; }
  @media (min-width: 991px) {
    .title-light-24 {
      font-size: 30px;
      line-height: 38px; } }

.title-light-40 {
  font-size: 40px;
  font-weight: 300;
  line-height: 30px;
  margin: 0; }

.background-gradient-225 {
  background: linear-gradient(225deg, #6556f4 0%, #76d7b2 100%); }

.background-gradient-90 {
  background: linear-gradient(90deg, #559f8d 0%, #4a46bb 100%); }

.color-green {
  color: var(--green-color); }

.color-violet {
  color: var(--violet-color); }

.input-transparent {
  text-align: center;
  background: var(--background-url) fixed;
  background-size: cover;
  border: 1px solid #979797;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 271px;
  box-sizing: border-box; }
  .input-transparent::placeholder {
    color: #000;
    font-family: 'Mulish', sans-serif;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px; }

.btn {
  cursor: pointer;
  height: 40px;
  width: 165px;
  border: transparent;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: block;
  background: linear-gradient(45deg, var(--green-color), var(--violet-color));
  opacity: 0.8;
  transition: opacity 0.3s; }
  .btn:hover {
    opacity: 1; }
  .btn .btn-inner {
    position: relative;
    border-radius: 8px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin-top: 1px;
    margin-left: 1px;
    display: flex; }
  .btn .btn-text {
    margin: auto; }
  .btn.btn-small {
    opacity: 0.5;
    width: 80px;
    height: 24px;
    background: #76d7b2; }
    .btn.btn-small:hover {
      opacity: 1; }
    .btn.btn-small .btn-text {
      color: #76d7b2;
      font-size: 12px; }

body {
  background: #192533;
  font-family: 'Mulish', sans-serif;
  margin: 0;
  border-radius: 10px;
  color: #fff;
  position: relative; }

.logo-container {
  width: 160px;
  height: 55px;
  margin: 51px auto 0; }
  @media (min-width: 991px) {
    .logo-container {
      margin-left: 150px; } }

.page-wrapper {
  background: var(--background-url) fixed;
  background-size: cover;
  background-position: center !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.background-landing-page {
  background: var(--background-landing-url) fixed !important;
  background-size: cover !important;
  background-position: center !important; }

.background-transparent {
  background: var(--background-url) fixed !important;
  background-size: cover !important;
  background-position: center !important; }

.main__container {
  max-width: 332px;
  margin: auto;
  text-align: center; }
  @media (min-width: 991px) {
    .main__container {
      max-width: 520px; } }

.main__title {
  text-align: center;
  margin: 0; }

.main__text {
  margin: 25px auto;
  line-height: 22px;
  display: block;
  width: 240px; }
  @media (min-width: 991px) {
    .main__text {
      width: 500px;
      line-height: 40px; } }

.main__btn {
  margin: auto; }

footer {
  width: 100%;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 37px;
  opacity: 0.5; }

.main-25__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 83px auto 0; }

.main-25__title {
  text-align: center;
  margin-bottom: 50px; }

.main-25__back-btn {
  margin: 96px auto 40px; }

@media (min-width: 991px) {
  .main-25__container {
    max-width: 1440px;
    width: 100%; }
  .main-25__title {
    max-width: 500px;
    margin: 0 auto; } }

.main-2__container {
  margin: 83px auto 0;
  display: flex;
  flex-direction: column;
  flex: 1; }

.main-2__title {
  text-align: center;
  margin-bottom: 50px;
  padding: 0 50px; }

.main-2__back-btn {
  margin: 20px auto 0px; }

@media (min-width: 991px) {
  .main-2__container {
    flex-direction: row;
    max-width: 1440px;
    width: 100%; }
  .main-2__left-part-desktop,
  .main-2__container .answers-list {
    flex: 1;
    margin: auto;
    padding: 0 20px; } }

.numbers-list {
  margin: 20px auto 90px;
  display: flex;
  justify-content: center; }
  .numbers-list .number {
    height: 18px;
    width: 18px;
    opacity: 0.3;
    color: #76d7b2;
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    position: relative;
    border: 1px solid #76d7b2;
    border-radius: 100%;
    display: flex;
    margin: 0 5px;
    line-height: 6px; }
    .numbers-list .number.active {
      opacity: 1; }
  .numbers-list .number-inner {
    margin: auto; }
  @media (min-width: 991px) {
    .numbers-list {
      margin: 0px auto 29px; } }

.answers-list {
  display: flex;
  flex-direction: column;
  flex: 1; }
  .answers-list .answer__container {
    position: relative;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 338px;
    margin: 0 auto 25px;
    border-radius: 8px;
    overflow: hidden;
    padding: 1px;
    cursor: pointer;
    transition: opacity 0.3s; }
    @media (min-width: 991px) {
      .answers-list .answer__container {
        width: 555px;
        opacity: 0.8; }
        .answers-list .answer__container:hover {
          opacity: 1; } }
    .answers-list .answer__container.selected {
      opacity: 1; }
      .answers-list .answer__container.selected .answer__description:before {
        opacity: 1;
        visibility: visible; }
      .answers-list .answer__container.selected .answer__check-icon {
        opacity: 1; }
    .answers-list .answer__container.mobile-open .answer__description-container {
      opacity: 1;
      max-height: 500px;
      transition: opacity 0.3s ease 0.2s, max-height 0.3s; }
  .answers-list .answer__title {
    padding: 12px 50px; }
  .answers-list .answer__check-icon {
    position: absolute;
    left: 23px;
    top: 14px;
    opacity: 0;
    transition: opacity 0.3s; }
  .answers-list .answer__description-container {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s, max-height 0.3s ease 0.2s;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
    @media (min-width: 991px) {
      .answers-list .answer__description-container {
        opacity: 1;
        max-height: unset; } }
  .answers-list .answer__description {
    padding: 16px;
    z-index: 1;
    position: relative; }
    .answers-list .answer__description:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, rgba(238, 238, 238, 0) 0%, rgba(101, 86, 244, 0.43) 100%);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s opacity, 0.3s visibility; }
  .answers-list .answer__background {
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .answers-list .answer__next-btn {
    margin: auto auto 42px; }
  @media (min-width: 991px) {
    .answers-list.desktop-row {
      margin-top: 79px;
      display: flex;
      flex-direction: row;
      flex: unset;
      flex-wrap: wrap;
      justify-content: center; }
      .answers-list.desktop-row .answer__row {
        width: 264px;
        margin: 15px;
        display: flex;
        flex-direction: column; }
      .answers-list.desktop-row .answer__description-container {
        flex: 1;
        display: flex; }
      .answers-list.desktop-row .answer__description {
        margin: auto; } }

.main-3__container {
  margin: auto;
  padding-top: 100px;
  justify-content: center;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column; }

.main-3__clapping-icon {
  margin: 0 auto 14px;
  width: 40px;
  height: auto; }

.main-3__text {
  max-width: 230px;
  margin: 34px auto 89px; }

.main-3__email-input {
  margin: 0 auto 103px; }

.main-3__btn {
  margin: 0 auto 42px; }

@media (min-width: 991px) {
  .main-3__container {
    padding: 0px 0px 100px; }
  .main-3__title {
    font-size: 34px;
    line-height: 55px; }
  .main-3__title-logo-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; }
  .main-3__clapping-icon {
    margin: auto 0 auto 20px;
    width: 54px; }
  .main-3__email-input {
    font-size: 18px;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid #979797;
    width: 362px; }
  .main-3__text {
    font-size: 18px;
    line-height: 28px;
    max-width: 310px;
    margin: 34px auto 50px; } }

.main-4__container {
  padding-top: 73px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main-4__text {
  max-width: 257px;
  margin: 34px auto 89px; }

.main-4__email-input {
  margin: 0 auto 103px; }

.main-4__btn {
  margin: auto auto 42px; }

.main-4__secondary-text {
  width: 290px;
  margin: 0 auto 69px; }

@media (min-width: 991px) {
  .main-4__container {
    margin: 0 auto 173px; }
  .main-4__title {
    margin-bottom: 41px;
    font-size: 34px; }
  .main-4__text {
    margin: 0 auto 19px; }
  .main-4__secondary-text {
    width: 514px;
    margin: 0 auto 41px; }
  .main-4__flex-reverse-container {
    display: flex;
    flex-direction: column-reverse; }
  .main-4__btn {
    margin: 0 auto 42px; } }

.progress__container {
  margin: 0 auto 54px;
  width: 270px; }

.progress__star-icon {
  margin-bottom: 5px; }

.progress__bar {
  width: 100%;
  height: 12px;
  border-radius: 8px;
  position: relative;
  overflow: hidden; }

.progress__bar-grey-part {
  background: #d8d8d8;
  position: absolute;
  right: 0;
  top: 0;
  width: 47px;
  height: 100%;
  display: block; }

.progress__status-container {
  padding: 0 0 47px;
  margin: 8px;
  margin-left: auto;
  width: 86px;
  position: relative; }
  .progress__status-container:before {
    content: '';
    height: 39px;
    width: 1px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0.7; }

.progress__status-title {
  margin-bottom: 7px; }

.progress__average-container {
  padding: 25px 0 0;
  margin: 8px;
  margin-left: 30%;
  width: 86px;
  position: relative; }
  .progress__average-container:before {
    content: '';
    height: 17px;
    width: 1px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0.7; }

@media (min-width: 991px) {
  .progress__container {
    width: 750px; } }

#Page1 {
  animation-delay: 0; }

.page-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s; }
  .page-wrapper .animate1 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease 0s, visibility 0.5s ease 0; }
  .page-wrapper .animate2 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease 0s, visibility 0.5s ease 0; }
  .page-wrapper.visible-page {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; }
    .page-wrapper.visible-page .animate1 {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s ease 0.5s, visibility 0.5s ease 0.5s; }
    .page-wrapper.visible-page .animate2 {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s ease 1s, visibility 0.5s ease 1s; }
